<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <form id="formularioImagenes">
            <input type="file" name="imagenes"><br/><br/>
            <button type="submit">ENVIAR</button>
        </form>
        <script type="module" src="../../js/views/Imagenes.js"></script>
        <script type="module" src="../../js/controllers/cImagenes.js"></script>
        <script type="module" src="../../js/models/mImagenes.js"></script>
    </body>
</html>